@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter";
}

body {
    background-color: #d9d9d9;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: none;
    transition: top 0.3s;

    display: flex;
    align-items: center;
    gap: 190px;
    background-color: #d9d9d9;
}

.nav button {
    font-size: 23px;
    color: black;
    border: none;
    cursor: pointer;
}

.btn-home {
    background-color: rgb(227, 135, 92);
    width: 70px;
    height: 70px;
}

.btn-projects {
    margin-left: auto;
    background: none;
}


.btn-contact {
    margin-right: 190px;
    background: none;
}


section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-sm {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.section-divide {
    min-height: 10vh;
    width: 100%;
    background-color: rgba(229, 114, 61, 0.8);
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-left: 30px;
    margin-right: 30px;
}

.intro div {
    font-size: 25px;
    width: 100%;
}

.intro h1 {
    font-size: 70px;
    width: 100%;
}

.intro p {
    width: 400px;
    width: 100%;
}


.arrow {
    position: absolute;
    margin-top: 90vh;
}


.project-container {
    width: 90%;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 100%;
    height: 600px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.pr-1 {
    background: url(img/screen1.png) no-repeat center / cover;
}

.pr-2 {
    background: url(img/screen2.png) no-repeat center / cover;
}

.pr-3 {
    background: url(img/screen3.png) no-repeat center / cover;
}

.card {
    width: 50%;
    min-height: 400px;
    background-color: rgba(229, 114, 61, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    color: white;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    padding: 5px 10px;
    background-color: #bdbdbd;
    border-radius: 5px;
}

.pos-right {
    margin-left: -150px;
}

.pos-left {
    z-index: 10;
    margin-right: -150px;
}

.card h1 {
    font-size: 40px;
    font-weight: lighter;
}

.card p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.project-links {
    display: flex;
    gap: 40px;
}

.link {
    color: white;
    text-decoration: none;
}

.link svg {
    width: 30px;
}

.email {
    font-size: 25px;
    letter-spacing: 2px;
}

.contact-links {
    display: flex;
    gap: 20px;
}

.contact-links svg {
    width: 50px;
    color: black;
}


@media only screen and (max-width: 850px) {
    .nav {
        flex-direction: column;
        gap: 15px;
    }

    .btn-home {
        width: 100%;
        height: 35px;
    }

    .btn-projects {
        margin: 0;
    }

    .btn-contact {
        margin: 0;
    }

    .pr-1 {
        background: url(img/screen1-sm.png) no-repeat center / cover;
    }
    
    .pr-2 {
        background: url(img/screen2-sm.png) no-repeat center / cover;
    }    
}

@media only screen and (max-width: 768px) {
    .project-container {
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .pos-right {
        width: 90%;
        margin: 0;
        margin-top: -100px;
    }

    .pos-left {
        width: 90%;
        margin: 0;
        margin-bottom: -700px;
    }

    .section-sm {
        margin-top: 100px;
    }
}

@media only screen and (max-height: 718px) {
    .section-sm {
        margin-top: 200px;
    }

    section {
        margin-top: 200px;
    }
}


/* animations */
.hidden {
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}